<p id="notice"><%= notice %></p>
<p>Id: </p><%=  @product.id %>
<p>Name: </p><%=  @product.name %>
<p>Quantity: </p><%= @product.quantity %>
<p>Price: </p><%= @product.price %> </br>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
